<section id="site-header">
  <nav class="navbar navbar-expand-lg bg-body-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </div>
  </nav>
</section>

<section id="section-box">
  <div class="container">
    <h1>My Coupons</h1>
  </div>
</section>
