<section id="feature">
  <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab"
          data-bs-toggle="tab"
          data-bs-target="#home-tab-pane"
          type="button"
          role="tab"
          aria-controls="home-tab-pane"
          aria-selected="true"
        >
          COUPONS (12)
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#profile-tab-pane"
          type="button"
          role="tab"
          aria-controls="profile-tab-pane"
          aria-selected="false"
        >
          e-BOOK (10)
        </button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home-tab-pane"
        role="tabpanel"
        aria-labelledby="home-tab"
        tabindex="0"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-3">
              <div class="card">
                <img
                  src="../../assets/img/coupon.png"
                  class="img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-currency-rupee"></i>5000.00 </h5>
                  <p class="card-text">
                    Use coupon code to avail extra discount.
                  </p>
                  <a href="#" class="btn btn-primary"> Take Coupon </a>
                </div>
              </div>
            </div>

            <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-currency-rupee"></i>6000.00 </h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>


              <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-currency-rupee"></i>7000.00 </h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>

              <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-currency-rupee"></i>8000.00 </h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>


              <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-currency-rupee"></i>9000.00 </h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>


              <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-currency-rupee"></i>10000.00</h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>

              <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-currency-rupee"></i>15000.00</h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>

              <div class="col-xl-3">
                <div class="card">
                  <img
                    src="../../assets/img/coupon.png"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title"> <i class="bi bi-currency-rupee"></i>20000.00</h5>
                    <p class="card-text">
                      Use coupon code to avail extra discount.
                    </p>
                    <a href="#" class="btn btn-primary"> Take Coupon </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="profile-tab-pane"
        role="tabpanel"
        aria-labelledby="profile-tab"
        tabindex="0"
      >

      <div class="container">
        <div class="row">
          <div class="col-xl-3">
            <div class="card">
              <img
                src="../../assets/img/ebook.png"
                class="img-fluid"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-currency-rupee"></i>5000.00 </h5>
                <p class="card-text">
                  Use coupon code to avail extra discount.
                </p>
                <a href="#" class="btn btn-primary"> Get E-book </a>
              </div>
            </div>
          </div>

          <div class="col-xl-3">
              <div class="card">
                <img
                  src="../../assets/img/ebook.png"
                  class="img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-currency-rupee"></i>6000.00 </h5>
                  <p class="card-text">
                    Use coupon code to avail extra discount.
                  </p>
                  <a href="#" class="btn btn-primary"> Get E-book </a>
                </div>
              </div>
            </div>


            <div class="col-xl-3">
              <div class="card">
                <img
                  src="../../assets/img/ebook.png"
                  class="img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-currency-rupee"></i>7000.00 </h5>
                  <p class="card-text">
                    Use coupon code to avail extra discount.
                  </p>
                  <a href="#" class="btn btn-primary"> Get E-book </a>
                </div>
              </div>
            </div>

            <div class="col-xl-3">
              <div class="card">
                <img
                  src="../../assets/img/ebook.png"
                  class="img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-currency-rupee"></i>8000.00 </h5>
                  <p class="card-text">
                    Use coupon code to avail extra discount.
                  </p>
                  <a href="#" class="btn btn-primary"> Get E-book </a>
                </div>
              </div>
            </div>


            <div class="col-xl-3">
              <div class="card">
                <img
                  src="../../assets/img/ebook.png"
                  class="img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><i class="bi bi-currency-rupee"></i>9000.00 </h5>
                  <p class="card-text">
                    Use coupon code to avail extra discount.
                  </p>
                  <a href="#" class="btn btn-primary"> Get E-book </a>
                </div>
              </div>
            </div>


        </div>
      </div>
      </div>
    </div>
  </div>
</section>


<section id="cart">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="table-responsive">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
              
                <th scope="col">Image</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="../../assets/img/coupon.png" width="60px" alt=""></td>
                <td></td>
                <td></td>
                <th scope="row"><i class="bi bi-x-circle"></i></th>
              </tr>
              <tr>
                <td><img src="../../assets/img/coupon.png" width="60px" alt=""></td>
                <td></td>
                <td></td>
                <th scope="row"><i class="bi bi-x-circle"></i></th>
              </tr>
              <tr>
                <td><img src="../../assets/img/coupon.png" width="60px" alt=""></td>
                <td></td>
                <td></td>
                <th scope="row"><i class="bi bi-x-circle"></i></th>
              </tr>
                          
            </tbody>
          </table>
        </div>  


      </div>
      <div class="col-xl-4">

       




        <!-- <div class="card">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="amount" class="form-label"> Amount : </label>
                <input type="text" class="form-control form-control-sm" id="amount" value="500" disabled>
             </div>
              <div class="mb-3">
                <label for="upi" class="form-label">UPI ID : </label>
                <input type="text" class="form-control form-control-sm" id="upi" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email ID : </label>
                <input type="email" class="form-control form-control-sm" id="email" required>
              </div>

              <div class="mb-3">
                <label for="tel" class="form-label">Phone Number : </label>
                <input type="tel" class="form-control form-control-sm" id="tel" [maxLength]="10" minlength="10" required>
              </div>
            
              <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            </form>
    
          </div>
        </div> -->
      
      </div>
    </div>

  </div>

</section>


<section id="angularform">
  <div class="container">
    
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
   
    <mat-form-field>
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    


  </div>
</section>

